@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  /* inherit 부모로 부터 글자색 상속 */
}
/* 
img {
  width: 100%;
  display: block;
} */

body {
  font-family: "Noto Sans KR", sans-serif;
  line-height: 1.6;
  font-size: 16px;
  font-weight: 400;
  background-color: greenyellow;
}

header {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  padding: 40px 50px;
  z-index: 10;
}

.nav {
  display: flex;
}

.nav a {
  display: inline-block;
  width: 100px;
  height: 40ps;
  text-align: center;
  line-height: 38px;
  border: 1px solid #fff;
  color: #fff;
  margin-left: 20px;
  transition: background-color 0.3s;
}

.nav a.active,
.nav a:hover {
  background-color: #fff;
  color: #333;
}
